/*---- hero software style start ----*/
.hero {
    &-item {
        height: 970px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
        // responsive
        @media #{$xlmax-device,$desktop-device}{
            height: 700px;
        }
        @media #{$tablet-device, $large-mobile}{
            flex-direction: column;
            justify-content: center;
            padding-top: 0;
        }
        @media #{$extra-small-mobile}{
            height: 780px;
        }
    }
    &-content {
        width: 490px;
        padding-left: 330px;
        box-sizing: content-box;
        // responsive
        @media #{$xlmax-device,$desktop-device}{
            width: 650px;
            padding-left: 90px;
        }
        @media #{$tablet-device, $large-mobile}{
            width: 470px;
            text-align: center;
            padding-left: 0;
            margin: 100px auto 0;
        }
        @media #{$small-mobile}{
            width: 100%;
            margin: 100px auto 0;
        }
    }
    &-content-title {
        font-weight: 500;
        color: #2e3280;
        line-height: 1.3;
        // responsive
        @media #{$xlmax-device}{
            font-size: 50px;
        }
        @media #{$desktop-device}{
            font-size: 42px;
        }
        @media #{$extra-small-mobile}{
            font-size: 24px;
        }
    }
    &-content-subtitle {
        color: #7e7e7e;
        font-weight: 400;
        padding-top: 15px;
        padding-bottom: 55px;
    }
    &-thumb {
        @media #{$xlmax-device}{
            width: 700px;
        }
        &.pr-100 {
            padding-right: 100px;
            // responsive
            @media #{$tablet-device, $large-mobile}{
                width: 450px;
                margin: 0 auto;
                padding-right: 0;
                padding-top: 50px;
            }
            @media #{$small-mobile}{
                width: 100%;
                padding: 50px 15px 0;
            }
        }
    }
}

// slider text animation
.hero-software {
    .swiper-slide {
        background-color: #fff;
        background-repeat: no-repeat;
        &-active {
            .hero-thumb {
                img {
                    animation-fill-mode: both;
                    animation-duration: 1s;
                    animation-name: fadeInRight;
                    animation-delay: 0.5s;
                }
            }
    
            .hero-content {
                animation-fill-mode: both;
                animation-duration: 1s;
                animation-name: fadeInLeft;
                animation-delay: 0.5s;
            }
        }
    }
}

/*---- hero software style end ----*/