/*------ sass hero banner start ------*/
.hero-branding {
    &.hero-sass {
        height: 1110px;
        background-position: center;
        background-size: cover;
    }
}

/*------ sass hero banner end ------*/