/*------- hero sass style start -------*/
.hero {
    &-item {
        height: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 90px;
        // responsive
        @media #{$large-mobile}{
            height: 900px;
        }
        @media #{$extra-small-mobile}{
            height: 700px;
        }
    }
    &-thumb {
        padding: 95px 15px 0;
        // responsive
        @media #{$large-mobile}{
            padding: 50px 15px 0;
        }
    }
    &-content-title {
        color: #fff;
        line-height: 1.3;
        font-family: 'Ryman Eco';
    }
    &-content-subtitle {
        color: #fff;
        font-weight: 400;
        padding-top: 15px;
        padding-bottom: 55px;
    }
}

// slider text animation
.swiper-slide {
background-color: #fff;
background-repeat: no-repeat;
&-active {
    .hero-thumb {
        img {
            animation-fill-mode: both;
            animation-duration: 1s;
            animation-name: fadeInRight;
            animation-delay: 0.5s;
        }
    }

    .hero-content {
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-name: fadeInLeft;
        animation-delay: 0.5s;
    }
}
}
/*------- hero sass style end -------*/