// header section start
.navbar {
    &.header-area {
        @media #{$desktop-device, $tablet-device, $large-mobile}{
            padding: 15px;
        }
    }
}
.fixed-top {
    z-index: 9;
}
.navbar-brand {
    img {
        width: 180px;
    }
}
.navbar {
    padding: 0;
}
.navbar-light {
    .main-menu {
        // responsive
        @media #{$desktop-device, $tablet-device, $large-mobile}{
            background-color: $white;
            padding: 15px 0;
        }
        li {
            .nav-link {
                display: block;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 1px;
                padding: 50px 26px;
                // responsive
                @media #{$laptop-device}{
                    padding: 50px 15px;
                }
                @media #{$desktop-device, $tablet-device, $large-mobile}{
                    padding: 10px 14px;
                }
                span {
                    position: relative;
                    &:after {
                        content: '';
                        width: 0;
                        height: 1px;
                        bottom: -3px;
                        position: absolute;
                        left: auto;
                        right: 0;
                        z-index: -1;
                        background-color: $theme-color--black;
                        transition: $transition--default;
                    }
                }
            }
   
            &:hover {
                .nav-link  {
                    span {
                        color: $theme-color--black;
                        &:after{
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                }
            }
            &.active {
                .nav-link  {
                    span {
                        color: $theme-color--black;
                    }
                }
            }
        }
    }
    &.text-white {
        .main-menu {
            .nav-item {
                .nav-link {
                    color: $white;
                    // responsive
                    @media #{$desktop-device, $tablet-device, $large-mobile}{
                        color: $black;
                    }
                }
                &:hover,
                &.active {
                    .nav-link {
                        span {
                            color: $white;
                            // responsive
                            @media #{$desktop-device, $tablet-device, $large-mobile}{
                                color: $black;
                            }
                            &:after {
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }
        &.is-sticky {
            .main-menu {
                .nav-item {
                    .nav-link {
                        color: $black;
                    }
                    &:hover,
                    &.active {
                        .nav-link {
                            span {
                                color: rgba(0, 0, 0, 0.5);
                                // responsive
                                @media #{$desktop-device, $tablet-device, $large-mobile}{
                                    color: $theme-color--default;
                                }
                                &:after {
                                    background-color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-button.button--white > a.btn {
    color: #5945e6;
}
.header-area.is-sticky .header-button.button--white > a.btn {
    color: #5945e6;
    border: 2px solid #5945e6;
}

.header-area {
    &.text-white {
        .logo-dark {
            display: none;
        }
        .logo-light {
            display: block;
        }
        &.is-sticky {
            &.text-white {
                .logo-dark {
                    display: block;
                }
                .logo-light {
                    display: none;
                }
            }
        }
    }
}

.header-config-wrapper {
    // responsive
    @media #{$desktop-device, $tablet-device, $large-mobile}{
        margin-left: auto;
    }
    @media #{$small-mobile}{
        margin-right: 0;
    }
    .header-config {
        color: $theme-color-sub--heading;
        font-size: 20px;
        margin-right: 40px !important;
        // responsive
        @media #{$small-mobile}{
            margin-right: 15px !important;
        }
        &.btn {
            color: $theme-color-sub--heading;
            transform: translateY(0);
            border: none;
            &:hover {
                color: $theme-color--default;
            }
        }
    }
    .btn-secondary {
        &:active {
            background-color: transparent !important;
        }
    }
}

.header-area{
    &.is-sticky{
        animation: .95s ease-in-out 0s normal none 1 running fadeInDown;
        z-index: 999;
        transition: $transition--default;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
        background-color: $white;
        .main-menu {
            li {
                .nav-link {
                    padding: 30px 26px;
                    // responsive
                    @media #{$laptop-device}{
                        padding: 30px 15px;
                    }
                    @media #{$desktop-device, $tablet-device, $large-mobile}{
                        padding: 10px 14px;
                    }
                }
            }
        }
        .ht-btn--outline {
            line-height: 44px;
        }
    }
}

/* search overlay */
.search-overlay,
.offcanvas-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $theme-color--black;
    overflow: auto;
    transition: $transition--default;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    cursor: url(../img/icons/light-close.png) 16 16, pointer;
    visibility: hidden;
    opacity: 0;
    
    &__inner {
        transform: translateX(-100%);
        width: 400px;
        height: 100%;
        cursor: default;
        background-color: #022851;
        background-image: linear-gradient(138deg,#022851 0,#0047BA 100%);
        transition: $transition--default;
        overflow-y: auto;

        @media #{$extra-small-mobile}{
            width: 300px;
        }
    }

    &.active{
        .search-overlay__inner {
            transform: translateX(0);
        }
        visibility: visible;
        opacity: 1;
    }

    &__header {
        background-color: $white;
        padding: 15px 0;
        .mobile-navigation-close-icon{
            position: relative;
            cursor: pointer;
            height: 40px;
            width: 40px;
            line-height: 40px;
            display: inline-block;
            &:before{
                position: absolute;
                top: 23px;
                left: 8px;
                content: '';
                width: 24px;
                height: 3px;
                background: $theme-color--black;
                transform-origin: 50% 50%;
                transform: rotate(45deg);
                transition: $transition--default;
            }
            &:after {
                position: absolute;
                top: 23px;
                left: 8px;
                content: '';
                width: 24px;
                height: 3px;
                background: $theme-color--black;
                transform-origin: 50% 50%;
                transform: rotate(-45deg);
                transition: $transition--default;
            }
            &:hover{
                color: $theme-color--default;
                &:before, &:after{
                    transform: none;
                }
            }
        }
    }
    &__body{
        padding: 30px 40px;
    }

    &__form{
        position: relative;
        input{
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 0;
            padding: 15px 50px 15px 0;
            width: 100%;
            color: $white;

            &::placeholder{
                color: $white;
                transition: $transition--default;
            }
        }

        button{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            color: $white;
        }

    }
}

.header-config-wrapper {
    order: 3;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
        order: 2;
    }
}
div#nav_collapse {
    @media #{$desktop-device, $tablet-device, $large-mobile} {
        order: 3;
    }
}
.navbar-toggler {
    @media #{$desktop-device, $tablet-device, $large-mobile} {
        order: 3;
        background-color: $white;
    }
}
